@charset "UTF-8";

body{
    margin: 0;
}

.split{
    display: table;
    width: 100%;
     
}
.split-item{
    display: table-cell;
    padding: 0;
    width: 50%;
}
.split-item-right{
    display: table-cell;
    width: 50%;
}
.split-left{
    background: #000;
    color: #fff;
    position: relative;
}
.split-left__inner{
    height: 100%;
    position: fixed;
    width: 50%;
}

.left-img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    
}
.left-title {
    padding: 10%;
    color: #fff;
    position: relative;
}


.contents {
    display:inline-block;
    padding: 10% 10% 0 10%;
}
.right-img {
    width: 100%;
    margin: 5% 0;
}
.kan-img1 {
    position: relative;
    float: left;
    object-fit: cover;
    width: 48%;
    height: 13rem;
}
.kan-img2 {
    position: relative;
    float: right;
    object-fit: cover;
    width: 48%;
    height: 13rem;
}

.btn{
    float: left;
    height: 3rem;
    margin: 1.5em 0 0 0;
}
a.cp_btn {
	display: block;
	width: 160px;
	padding: 0.5em;
	text-align: center;
	text-decoration: none;
	color: #505050;
	border: 2px solid #707070;
	transition: .4s;
}
a.cp_btn:hover {
	background: #707070;
	color: #fff;
}

.otoi {
    margin-bottom: 4rem;
}